.tab-link {
	color: #333;
	text-decoration: none;
	box-shadow: 0px 15px 2px -8px #a7a7a7;
	transition: all 300ms ease-in-out;

	&:hover, &.active{
		color: #000;
		box-shadow: 0px 20px 3px -8px #a7a7a7;
		font-weight: bold;
		transform: translateY(-5px);
	}
}